html,body{
  width:100%;
  margin:0;
  height:100%;
  font-family: 'Montserrat', sans-serif !important;
  background: #253c69 !important;
  overflow-x: hidden;
  position: relative;
}

a {
  text-decoration: none;
}

.title {
  font-weight: bold;
  margin: 0;
  color: #293c66;
  background: linear-gradient(to bottom left, #62BED2, #C4F8FF, #62BED2);
  background-repeat: no-repeat;
  height: 100vh;
}

.triangle {
  position: absolute;
  bottom: 0;
  left: calc(50% - 30px);
  margin-bottom: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 30px 0 30px;
  border-color: #253c69 transparent transparent transparent;
}

.triangle:hover {
  cursor: pointer;
}

.arrow {
  position: absolute;
  width: 100%;
  padding-bottom:3%;
  background-color: #253c69;
}

.arrow:before, .arrow:after {
  content:'';
  position: absolute;
  bottom: 100%;
  width: 50%;
  padding-bottom:inherit;
  background-color: inherit;
  border-top: 2px solid #253c69;
}

.arrow:before {
  right: 50%;
  -ms-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -ms-transform: skewX(45deg);
  -webkit-transform: skewX(45deg);
  transform: skewX(45deg);
  border-right: 3px solid #253c69;
  margin-right:-2px;
}

.arrow:after {
  left: 50%;
  -ms-transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -ms-transform: skewX(-45deg);
  -webkit-transform: skewX(-45deg);
  transform: skewX(-45deg);
  border-left: 3px solid #253c69;
  margin-left:-2px;
}

.upside-down {
  transform: rotate(180deg);
}

.partner.section {
  padding-top: 10vh;
}

.partner-back {
  position: absolute;
  width: 100%;
  height: 30px;
  background: #253c69;
}

.logo {
  max-height: 100%;
  max-width: 100%;
}

h3 {
 line-height: 2.0 !important;
}

.about p {
  margin: 0 60px;
  font-size: calc(20px + (25 - 20) * ((100vw - 250px) / (1600 - 250))) !important;
  line-height: 2.0 !important;
}

.heading-icon {
  font-size: 50px !important;
  vertical-align: middle !important;
}

.heading {
  font-size: calc(25px + (40 - 25) * ((100vw - 300px) / (1600 - 300)));
  line-height: 2.0;
}

.container {
  margin: 0 auto!important;
  width:95% !important;
}

.white {
  color: white;
}

.center {
  text-align: center;
}

.ece-day-splash {
  display: block;
  max-height: 100%;
  max-width: 100%;
}

.section {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.partner {
  margin-top: 5vh !important;
  background: #62BED2;
  padding-bottom: 10vh;
}

.row {
  display: flex !important;
  align-items: center !important;
}

.partner-logo {
  margin-top: 5vh;
  max-width: 30vw;
  transition: all .2s ease-in-out;
}

.partner-logo:hover {
  transform: scale(1.1);
}

.transparent
{
  background-color: transparent;
}

.card {
  margin-top: 3rem;
  border: 0 !important;
  border-radius: 0 !important;
  color: white !important;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, .2);
  padding: 0px !important;
  background-color: #76c6d8 !important;
}

.card-header {
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, .2);
  border-radius: 0 !important;
  background-color: #4eb6cc !important;
}

.card-header:hover {
  background-color: #76c6d8 !important;
}

.card-header a {
  color: white !important;
  padding: 10px !important;
}

.card-header .fa {
  transform: rotate(180deg);
  transition: .3s transform ease-in-out;
}
.card-header .collapsed .fa {
  transform: rotate(0deg);
}

@media only screen and (max-width: 600px) {
  .heading {
    text-align: center;
  }

  .about {
    text-align: center;
  }

  .about p {
    margin: 0 20px;
  }
}

.contact {
  position: relative;
}

.contact-pos {
  position: absolute;
  bottom: 0;
}

.contact i {
  margin: 20px;
  transition: all .2s ease-in-out;
}

.contact i:hover {
  transform: scale(1.1);
}

.subtitle {
  margin-left: 70px;
}
